body{
    background: url(/image/sunset.jpg) no-repeat center center fixed;
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: inline-grid;
    grid-template-columns: 120em;
    grid-template-rows: 5em 60em;
}

.top{
    border: 2px solid green;
    display: flex;
    width: 100%;
}

.bottom{
    border: 2px solid blue;
}